<div class="cartao-opcoes d-flex justify-content-around align-items-center">
    <a><i class="fa fa-trash mr-2" (click)="onClickDeletarCartao(id)" aria-hidden="true"></i></a>
    <a><i class="fa fa-circle mr-2 texto-vermelho" (click)="onClickMudarCor('vermelho', id)" aria-hidden="true"></i></a>
    <a><i class="fa fa-circle mr-2 texto-amarelo" (click)="onClickMudarCor('amarelo', id)" aria-hidden="true"></i></a>
    <a><i class="fa fa-circle mr-2 texto-verde" (click)="onClickMudarCor('verde', id)" aria-hidden="true"></i></a>
</div>
