<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div>
    <a href="index.html"><img class="img-fluid img-edit" src="../../../assets/img/imaginenotes3.png" alt=""></a>
    <a class="navbar-brand size-logo" href="#">Imagine<small class="cor-logo">Notes</small></a>
  </div>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <form class="form-inline my-2 my-lg-0" *ngIf="isLogged">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
    <ul class="navbar-nav ml-auto" *ngIf="!estaLogado">
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/registrar">Registrar</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto" *ngIf="estaLogado">
      <!-- <li class="nav-item">
        <a class="nav-link"><i class="fa fa-2x fa-spin fa-refresh"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"><i class="fa fa-2x fa-cloud-upload"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"><i class="fa fa-2x fa-cloud-download"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"><i class="fa fa-2x fa-bars"></i></a>
      </li>
      <li class="nav-item" data-intro="clique aqui para mudar o modo como os cartões serão exibidos na tela">
        <a class="nav-link"><i class="fa fa-2x fa-th-large"></i></a>
      </li> -->
      <li class="nav-item" (click)="startTour()">
        <a class="nav-link"><i class="fa fa-2x fa-question-circle"></i></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">{{ userName }}</a>
        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 35px, 0px); top: 18px; left: 0px; will-change: transform;">
          <a class="dropdown-item" href="#" (click)="onClickLogout()">Sair</a>
        </div>
      </li>
      <li class="nav-item">
          <img src="{{ userPhoto }}" alt="Foto do usuário" class="rounded-circle">
      </li>
    </ul>
  </div>
</nav>