/* You can add global styles to this file, and also import other style files */
.texto-vermelho {
    color: #f8bbd0;
}

.fundo-vermelho {
    background-color: #f8bbd0;
}

.texto-amarelo {
    color: #ffff8d;
}

.fundo-amarelo {
    background-color: #ffff8d;
}

.texto-verde {
    color: #ccff90;
}

.fundo-verde {
    background-color: #ccff90;
}

.texto-branco {
    color: #fff;
}

.fundo-branco {
    background-color: #fff;
}